
#choose_product ul {
  list-style: none;
}

#choose_product {
	margin-top: 50px;
}

#choose_product ul li {
	margin: 15px;
  margin-left: 5px;
}

.cb_wrapper {
  float: left;
  width: 20%;
}

.clear{
  clear: both;
}





a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}





.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font-size: 13px;
}

.x.axis path {
  display: none;
}

#across_retailer {
	margin-right: 40px;
}

.tooltip {
	position: absolute;
	text-align: center;
	padding: 10px 10px 10px 10px;
	/*width: 160px;
	height: 58px;*/
	font: 14px sans-serif;    
	background: lightsteelblue; 
	border: 0px;    
	border-radius: 8px;
	pointer-events: none;
}








.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
